In [24]:
import pandas as pd
import os
import json

In [2]:
## Création de constantes (en majuscules par défaut) :

# Répertoire de données (data directory)
DATA_DIR = '../../data'

#Depuis l'endroit où je suis, c'est la façon d'aller au dossier data (../.. : je suis dans explo, 
# .. remonte src et hands on project)

# Répertoire temporaire (temporary directory)
TMP_DIR = '../../tmp'

##On peut remplacer cette étape par l'utilisation d'un fichier Json

In [28]:
##Lecture de fichier Json
with open('../parameters.json') as json_data:
    params = json.load(json_data)
#Params devient un dictionnaire de variables

In [29]:
params

{'DIRECTORIES': {'DATA_DIR': '../..data', 'TMP_DIR': '../..tmp'}}

In [30]:
#On affecte les valeurs du dictionnaire aux variables correspondantes
DATA_DIR = params['DIRECTORIES']['DATA_DIR']
TMP_DIR = params['DIRECTORIES']['TMP_DIR']

In [10]:
##Lecture de données depuis le zip file : 

gas_files = ['Prix2014.zip', 'Prix2015.zip', 'Prix2016.zip']
#Liste de fichiers contenant des données de prix de carburant

stations_file = 'Stations.zip'
#Fichier (pas besoin de liste puisqu'il est unique) contenant des données de stations

services_file = 'Services2016.zip'
#Fichier contenant des données de services

In [20]:
#Ouverture de jeu de données : 

df_2014 = pd.read_csv(DATA_DIR + '/' + gas_files[0])
#Version cochonne

df_2014 = pd.read_csv(os.path.join(DATA_DIR,gas_files[0]), sep = ';', header = None, dtype = {1: str})
#Version propre

In [14]:
##Observation des données :

df_2014.columns
#On remarque un défaut de séparateur

,0,1,2,3,4,5,6,7,8
0,1000001,1000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,1000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,1000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,1000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,1000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0

In [23]:
df_2014.head()

,id_station,code_postal,type_station,latitude,longitude,date_releve,type_carburant,libelle_carburant,prix
0,1000001,01000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,01000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,01000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,01000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,01000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0

In [22]:
#On renomme les colonnes
df_2014.columns = ['id_station',
                   'code_postal',
                   'type_station',
                   'latitude',
                   'longitude',
                   'date_releve',
                   'type_carburant',
                   'libelle_carburant',
                   'prix']